<footer>
  <div class="row footer-box text-box mt-1 mb-2 pt-3 pb-3" id="footer">
    <div class="col-sm-6 order-1">Last modified {{ page.metadata.overridelastmod if page and page.metadata.overridelastmod else ((page.source_path if page else None) | getmtime_git).strftime("%B %d, %Y") }}</div>
    <div class="col-sm-6 order-12 text-right">
    <a rel="me" href="https://mast.hpc.social/@glennklockwood" target="_blank" rel="noopener noreferrer" style="display: inline-block; padding: 2px 4px; font-size: 12px; color: #fff; background-color: #4b4ca5; text-align: center; text-decoration: none; border-radius: 5px;">@glennklockwood</a> 
    </div>
  </div>
</footer>
