    <footer>
        <div class="content-box">
            <div class="row">
                <div class="col-sm-8">
                    Last modified {{ if .Params.last_mod }}{{ .Params.last_mod }}{{ else }}July 22, 2016{{ end }}
                </div>
                <div class="col-sm-4 pull-right text-right">
                    <script type="text/javascript">
                        //<![CDATA[
                        var username = "glenn";
                        var hostname = "glennklockwood.com";
                        var linktext = username + "@" + hostname;
                        document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "<\/a>");
                        //]]>
                    </script>
                </div>
            </div>
        </div>
    </footer>
