<div role="navigation" class="navbar navbar-default">
  <div style="padding: 0" class="container-fluid">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-menubuilder" class="navbar-toggle">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-menubuilder">
      <ul class="nav navbar-nav navbar-left">
        <li> <a href="#">Home</a></li>
        <li>|</li>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Using HPC <span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li class="dropdown-header">Getting Started</li>
            <li><a href="#">Installing software without root</a></li>
            <li><a href="#">Configuring SSH keys on Windows</a></li>
            <li><a href="#">Getting started with to Gaussian on Linux</a></li>
            <li><a href="#">Getting started with DDT on SDSC Gordon</a></li>
            <li><a href="#">Common Problems on SDSC's Supercomputers</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">General Topics in HPC</li>
            <li><a href="#">Managing CPU affinity</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Data-Intensive Computing</li>
            <li><a href="#">Topics in Data-Intensive Computing</a></li>
            <li class="dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Hadoop</a>
              <ul class="dropdown-menu">
                <li><a href="#">Conceptual Overview </a></li>
                <li><a href="#">Running Hadoop Clusters on Gordon</a></li>
                <li><a href="#">Writing Hadoop Applications in Python with Hadoop Streaming</a></li>
                <li><a href="#">Parsing VCF Files with Hadoop Streaming</a></li>
              </ul>
            </li>
            <li class="dropdown-submenu"><a href="#" data-toggle="dropdown" class="dropdown-toggle">R</a>
              <ul class="dropdown-menu">
                <li><a href="#">Parallel Options for R</a></li>
                <li><a href="#">Parallel R using Hadoop</a></li>
                <li><a href="#">Using R on SDSC Gordon and Trestles</a></li>
              </ul>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header">Building Software</li>
            <li><a href="#">Building ReaxFF support for LAMMPS</a></li>
            <li><a href="#">Building Intel Thread Building Blocks</a></li>
            <li><a href="#">Building IPM 0.983 for lightweight MPI profiling</a></li>
          </ul>
        </li>
        <li>|</li>
        <li> <a href="#">Benchmark Data</a></li>
        <li>|</li>
        <li> <a href="#">Contact Us</a></li>
        <li>|</li>
        <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Dropdown <span class="caret"></span></a>
          <ul role="menu" class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Nav header</li>
            <li><a href="#">Separated link</a></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
