{{ partial "header.html" . }}
    <div class="container">
        <div class="content-box">
            <div class="main-page-header">
            <img src="me2.jpg" alt="Glenn K. Lockwood">
                <h1>Glenn K. Lockwood, Ph.D.</h1>
                <p style="font-size:150%; margin-bottom: 0">Lawrence Berkeley National Laboratory</p>
                <p style="margin-bottom: 0">NERSC Advanced Technologies Group</p>
                <p style="margin-bottom: 0">1 Cyclotron Road, Mailstop 943R0256</p>
                <p style="margin-bottom: 0">Berkeley, CA 94720-8043</p>
                <p><script type="text/javascript">
                    //<![CDATA[
                    var username = "glock"; var hostname = "lbl.gov"; var linktext = username + "@" + hostname;
                    document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "<\/a>");
                //]]></script>
                /
<script type="text/javascript">
                    //<![CDATA[
                    var username = "glenn"; var hostname = "glennklockwood.com"; var linktext = username + "@" + hostname;
                    document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "<\/a>");
                //]]></script>
                </p>
                <hr>
            </div>
<div class="content">
<p>I am a performance analyst at
<a href="http://www.nersc.gov">NERSC,</a> the National Energy Research Scientific Computing
Center at Lawrence Berkeley National Laboratory.  I am a materials scientist by
training, and I used to study the chemical physics of water/silica interfaces
with molecular dynamics simulations.  At some point I made the decision to 
pursue my interest in supercomputing as a career, and I now work as a specialist
in data-intensive and high-performance computing technologies. 
More information about me is available on <a href="cv.html">my CV</a> and on
<a href="http://www.linkedin.com/in/glennklockwood">LinkedIn</a>.</p>

<p>This site contains various notes I've taken related to technical computing
over the years.  I welcome any feedback about its contents at the e-mail
address listed at the bottom of every page, and I can also be found in
<code>#hpc</code> on <a href="http://freenode.net/">freenode</a>.</p> 

<div class="main-page-index">
<h2>Data-Intensive Computing</h2>
<h3>Topics in Hadoop</h3>
<ul>
    <li><a href="data-intensive/hadoop/overview.html">Conceptual Overview of Map/Reduce and Hadoop</a></li>
    <li><a href="data-intensive/hadoop/streaming.html">Writing Hadoop Applications in Python with Hadoop Streaming</a></li>
    <li><a href="data-intensive/hadoop/parsing-vcfs.html">Parsing VCF Files with Hadoop Streaming</a></li>
    <li><a href="data-intensive/hadoop/on-hpc.html">Running Hadoop on HPC Clusters</a></li>
</ul>
<h3>Topics in R</h3>
<ul>
    <li><a href="data-intensive/r/on-hpc.html">Using R on HPC Clusters</a></li>
    <li><a href="data-intensive/r/parallel-options.html">Parallel Options for R</a></li>
    <li><a href="https://github.com/glennklockwood/paraR">Code Samples for Parallel R</a></li>
</ul>

<h2>HPC Howtos</h2>
<h3>For Users</h3>
<ul>
    <li><a href="hpc-howtos/common-problems.html">Common Problems on Supercomputers</a></li>
    <li><a href="hpc-howtos/installing-without-root.html">Installing Software Without Root</a></li>
    <li><a href="hpc-howtos/process-affinity.html">Managing Process Affinity in Linux</a></li>
    <li><a href="hpc-howtos/ssh-keys-on-windows.html">Configuring SSH Keys on Windows</a></li>
    <li><a href="hpc-howtos/gaussian-on-linux-clusters.html">Using Gaussian on Linux Clusters</a></li>
    <li><a href="http://glennklockwood.blogspot.com/2014/02/quantum-espresso-performance-benefits.html"><strong>Blog</strong>: Optimizing Quantum ESPRESSO builds</a></li>
</ul>
<h3>For Operators</h3>
<ul>
<li><a href="http://glennklockwood.blogspot.com/2013/04/quick-mpi-cluster-setup-on-amazon-ec2.html"><strong>Blog</strong>: Setting up a basic MPI cluster on Amazon EC2</a></li>
</ul>

<h2>Performance &amp; Benchmarks</h2>
<ul>
    <li><a href="http://glennklockwood.blogspot.com/2014/02/quantum-espresso-performance-benefits.html"><strong>Blog</strong>: BLAS, LAPACK, and ScaLAPACK Implementations</a></li>
    <li><a href="http://glennklockwood.blogspot.com/2013/12/high-performance-virtualization-sr-iov.html"><strong>Blog</strong>: SR-IOV with Amazon's C3 Instances</a></li>
    <li><a href="http://glennklockwood.blogspot.com/2013/12/high-performance-virtualization-sr-iov_14.html"><strong>Blog</strong>: SR-IOV with QDR InfiniBand</a></li>
    <li><a href="http://glennklockwood.blogspot.com/2013/06/whats-killing-cloud-interconnect.html"><strong>Blog</strong>: IP over InfiniBand and IP over Ethernet</a></li>
    <li><a href="http://glennklockwood.blogspot.com/2013/05/fdr-infiniband-vs-dual-rail-qdr.html"><strong>Blog</strong>: Dual-Rail QDR InfiniBand vs. FDR InfiniBand</a></li>
    <li><a href="benchmarks/index.html">Historical performance trends (1996-2015)</a></li>
    <li><a href="benchmarks/power-consumption.html">Historical power consumption of Unix workstations</a></li>
</ul>

<h2>Miscellany</h2>

<h3>Unix and Linux Howtos</h3>
<ul>
    <li><a href="sysadmin-howtos/rpi-wifi-island.html">Create a wired Ethernet island on a wifi network with Raspberry Pi</a></li>
    <li><a href="sysadmin-howtos/configuring-solaris10.html">Installing and configuring a Solaris 10 server</a></li>
    <li><a href="sysadmin-howtos/converting-blocksize-on-solaris.html">Converting 520-byte block disks to 512-byte blocks (Solaris)</a></li>
    <li><a href="sysadmin-howtos/configuring-dmake.html">Configuring dmake (Solaris)</a></li>
</ul>

<h3>Personal</h3>
<ul>
    <li><a href="about.html">A little about me</a></li>
    <li><a href="#">My old computer collection</a></li>
</ul>

</div>
</div>
        </div>
        {{ partial "container-footer.html" . }}
    </div>
{{ partial "footer.html" . }}
