Redirect 301 /electronics/bmc2835-gpio.html /embedded/bmc2835-gpio.html
Redirect 301 /sysadmin-howtos/beaglebone.html /embedded/beaglebone.html
Redirect 301 /sysadmin-howtos/nvidia-jetson-nano.html /embedded/nvidia-jetson-nano.html
Redirect 301 /sysadmin-howtos/terasic-de10-nano.html /embedded/terasic-de10-nano.html
Redirect 301 /ai/ai-requirements.html /garden/LLM-training
Redirect 301 /personal/productivity-tools.html /garden/productivity-tools
RedirectMatch 301 ^/garden$ /garden/
RedirectMatch 301 ^/data-intensive/analysis/ai-(.*)\.html$ /ai/ai-$1.html
RedirectMatch 301 ^/data-intensive/analysis/(.*)perceptron\.html$ /ai/$1perceptron.html
ErrorDocument 404 /404.html

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]
