{% extends "base.html" %}

{% set HIDE_SIDEBAR=True %}

{% block title %}{{ SITENAME }}{% endblock %}

{% block container_header %}
{% endblock %}

{% block content %}
<div class="main-page-header">
  <div class="float-right d-none d-sm-block">
    <img src="me2.jpg" alt="Glenn K. Lockwood ca. 2012">
  </div>
  <h1>Glenn K. Lockwood, Ph.D.</h1>
  <!-- <p style="font-size: 150%; margin-bottom: 0">Principal Engineer</p>
  <p style="margin-bottom: 0">Azure HPC and AI</p>
  <p style="margin-bottom: 0">Microsoft Corporation</p> -->
  <p>
  <!-- <script type="text/javascript">var username = "glockwood"; var hostname = "microsoft.com"; var linktext = username + "@" + hostname; document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "<\/a>");</script> /  -->
  <script type="text/javascript">var username = "glenn"; var hostname = "glennklockwood.com"; var linktext = username + "@" + hostname; document.write("<a href='" + "mail" + "to:" + username + "@" + hostname + "'>" + linktext + "<\/a>");</script>
  </p>
  <hr>
</div>

{{ includefile(PATH + '/pages/_index.md') | md2html(MARKDOWN) }}

<h2>High-Performance Computing</h2>
<p>I've worked in high-performance computing since 2012, and this section
contains notes and guides I've written in that capacity.  I try to retire
links to pages once they have fallen out of date, so things tend to come and
go from this section as technologies (and my areas of work) evolve.</p>

{{ make_index_html_ul(PATH + '/pages/ai', PATH + '/pages', SITEURL, 3) }}
{{ make_index_html_ul(PATH + '/pages/cloud', PATH + '/pages', SITEURL, 3) }}
{{ make_index_html_ul(PATH + '/pages/data-intensive/storage', PATH + '/pages', SITEURL, 3) }}
{{ make_index_html_ul(PATH + '/pages/hpc-howtos', PATH + '/pages', SITEURL, 3) }}
{{ make_index_html_ul(PATH + '/pages/benchmarks', PATH + '/pages', SITEURL, 3) }}

<p>
I also have a set of pages on <a href="{{ SITEURL }}/data-intensive/hadoop/">Hadoop</a>
and <a href="{{ SITEURL }}/data-intensive/r/">Parallel Computing with R</a> that
I host for posterity, but I haven't used either of these since 2014 and those
guides are likely out of date. 
</p>

<!-- Materials Science -->
{{ make_index_html_ul(PATH + '/pages/materials-science', PATH + '/pages', SITEURL, 2) }}

<h2>Hobbies &amp; Personal Stuff</h2>

<p>This section contains notes and tutorials that I've written related to my
personal interests and hobbies outside of work.</p>

{{ make_index_html_ul(PATH + '/pages/embedded', PATH + '/pages', SITEURL, 3) }}
{{ make_index_html_ul(PATH + '/pages/electronics', PATH + '/pages', SITEURL, 3) }}
{{ make_index_html_ul(PATH + '/pages/sysadmin-howtos', PATH + '/pages', SITEURL, 3) }}
{{ make_index_html_ul(PATH + '/pages/personal', PATH + '/pages', SITEURL, 3) }}

{% endblock %}
