        
        {{ $.Scratch.Set "linkurl" $.Site.BaseURL }}
        <div class="content-box page-header">
            <h1>{{ .Title }}</h1>
            <hr>

            <div role="navigation">
                <ul class="breadcrumb">
                    <li><a href="{{ $.Scratch.Get "linkurl" }}">Home</a></li>
                    {{ if .IsPage }}
                        {{ range $dir := .Params.parentdirs }}
                            {{ $.Scratch.Add "linkurl" $dir }}
                            {{ $.Scratch.Add "linkurl" "/" }}
                            <li><a href="{{ $.Scratch.Get "linkurl" }}">
                                {{ index $.Site.Data.dirnamemap $dir }}
                                </a>
                            </li>
                        {{ end }}
                    {{ else }}
                        <li>{{ .URL }}</li>
                    {{ end }}
                    {{ if isset .Params "shorttitle" }}
                    <li>{{ .Params.shorttitle }}</li>
                    {{ else }}
                    <li>{{ .Title }}</li>
                    {{ end }}
                </ul>
            </div>

        </div>
